:root {
    --main-site-color: rgb(204, 26, 26);
    --secondary-site-color: blue;
    --main-font-color: black;
    --main-font-family: 'Open Sans';
    --seconadary-font-family:'Open Sans';
    --sub-font-family: 'Arial';
    --font-size-sm: 14px;
    --font-size-md: 16px;
    --font-size-lg: 18px;
}